@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --color-bg: #000;
  --color-bg-secondary: #0e0e0e;
  --color-bg-tertiary: #252525;
  --color-text: #f3f6fa;
  --color-primary: #f90;
  --color-accent: #f90;
  --color-border: #151515;
  --color-card: #0e0e0e;
  --color-error: #ff4d4f;
  --color-btn-bg: #f90;
  --color-btn-text: #000;
  --color-footer-bg: var(--color-bg-secondary);
  --color-footer-text: #eaeaea;
  --font-main: 'Inter', Arial, sans-serif;
  --color-success: #38cc70;
}

[data-theme="light"] {
  --color-bg: #f3f6fa;
  --color-bg-secondary: #fff;
  --color-bg-tertiary: #fff;
  --color-text: #23272f;
  --color-primary: #0070f3;
  --color-accent: #ffb400;
  --color-border: #e5e8ef;
  --color-card: #fff;
  --color-error: #ff4d4f;
  --color-btn-bg: #0056e0;
  --color-btn-text: #fff;
  --color-footer-bg: #f4f7fb;
  --color-footer-text: #23272f;
  --color-success: #28a745;
}

html, body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  transition: background 0.3s, color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

.page-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: var(--font-main);
}


input,
textarea {
  background: var(--color-bg-tertiary);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 0.4rem;
  padding: 0.6rem 0.9rem;
  font-size: 1rem;
  transition: border-color 0.18s, background 0.18s, color 0.18s;
  outline: none;
  margin-bottom: 0.7rem;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}
input[type="color"]{
  width: 100px;
  height: 40px;
  padding: 0;
}

input:focus,
textarea:focus {
  border-color: var(--color-primary);
 // background: var(--color-card) !important;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-text) !important;
  opacity: 0.6;
}

[data-theme="light"] input,
[data-theme="light"] textarea {
  background: #fff !important;
  color: #23272f !important;
}

[data-theme="light"] input::placeholder,
[data-theme="light"] textarea::placeholder {
  color: #23272f !important;
  opacity: 0.5;
}
